html {
  background: #505d6e url(/assets/splash3.jpg) no-repeat center center fixed;
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  background: transparent;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  color: white;
}
.dropdown button {
  margin-top: 15px;
}
#profpic {
  margin-top: 50px;
}
.name p {
  font-size: 22px;
  margin-top: 15px;
  letter-spacing: 2px;
}
